/* 

Н А В И Г А Ц И Я :

1. ОСНОВНОЕ
    > 1.1 ИМПОРТ ШРИФТОВ
    > 1.2 ШАБЛОНЫ

2. ШАПКА
    > 2.1 ШАБЛОНЫ

3. ДОМ
    > 3.1 КНОПКА "ХОЧУ РЕМОНТ!"

4. ПРОЕКТЫ
    > 4.1 ГАЛЕРЕЯ

5. УСЛУГИ

6. КОМПАНИЯ

7. КОМАНДА

8. КОНТАКТЫ

9. ПОДВАЛ
    > 9.1 БЛОКИ
    > 9.2 МЕДИА - ИКОНКИ
    > 9.3 ПОДПИСЬ






||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||




  
    ⬇ 1. ОСНОВНОЕ ⬇ */

/* для чистоты */
* {
    margin: 0 auto;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Отсутствие синего выделения при клике */
}

/* цвета при выделении элементов */
*::selection {
    color: whitesmoke; /* Цвет текста */
    background: #F69E60; /* Цвет фона */
}

/* размеры страницы */
body, html {
    max-width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* тело страницы */
body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
    background-size: cover;

    background-color: whitesmoke;
}

/* W3C standard
сейчас только для Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #F69E60 whitesmoke;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 10%;
}
*::-webkit-scrollbar-track {
    background: whitesmoke;
}
*::-webkit-scrollbar-thumb {
    background-color: #F69E60;
    /* border-radius: 10px; */
    /* border: 3px solid orange; */
}

/*  
    ⬇ 1.1 ИМПОРТ ШРИФТОВ ⬇
*/

/* лого на шапке страницы */
@font-face {
    font-family: 'LobsterTwo-B'; /* Гарнитура шрифта */
    src: url(fonts/LobsterTwo-Bold.ttf); /* Путь к файлу со шрифтом */
}

/* шрифт заголовка на главной странице */
@font-face {
    font-family: 'RussianPunk'; /* Гарнитура шрифта */
    src: url(fonts/RussianPunk.ttf); /* Путь к файлу со шрифтом */
}

/* шрифт футера */
@font-face {
    font-family: 'SourceCodePro-Medium'; /* Гарнитура шрифта */
    src: url(fonts/SourceCodePro-Medium.ttf); /* Путь к файлу со шрифтом */
}

/*  
    ⬆ 1.1 ИМПОРТ ШРИФТОВ ⬆

    ⬇ 1.2 ШАБЛОНЫ ⬇
*/

/* контейнер страницы */
.container {
    width: 1200px;
}

/* дочерний элемент шел в линию */
.child {
    display: inline-block;
    
    margin-left: -.36em; /* убираем лишние пробелы */
}

/*убираем подчеркивание текста ссылок*/
a {
    text-decoration: none;
    color: black;
    
    transition-duration: .3s;
}

/* наведение на ссылку */
a:hover {
    color: whitesmoke;
}

/* шрифт заголовков */
h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

/* шрифт параграфов */
p, input, select, textarea, li, strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.125em;
}

/* заголовки1 */
h1 {
    font-size: 2.5em;
    font-weight: 500;
}

/* заголовки2 */
h2 {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 1.5px;
}

/* заголовки3 */
h3 {
    font-weight: 400;
    font-size: 1.5em;
}

/* заголовки4 */
h4 {
    font-size: 1em;
    font-weight: 300;
}

/* строки списка */
li {
    list-style-type: none; /* Убираем маркеры у списка */
}

/* отступ сверху для секций */
section {
    padding-top: 50px;
}

img {
    pointer-events: none;
    user-select: none;
}

/* особенный отступ для секции без заголовка */
section#portfolio {
    padding-top: 150px;
}

/* отсут сверху для футера */
footer {
    margin-top: -5px;
}

/* блок заголовка секций */
.sec-title {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}

/* ⬆ 1. ОСНОВНОЕ ⬆




||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||




    
⬇ 2. ШАПКА ⬇ */

/* ⬆ 1. ОСНОВНОЕ ⬆




||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||




    
⬇ 2. ШАПКА ⬇ */

/* шапка */
header {
    width: 100%;
    height: 50px;

    position: fixed;
    background-color: whitesmoke;

    border-bottom: 1px solid #3A3A44;
    z-index: 2;
}

/* заголовок главной */
header #title {
    position: fixed;
    font-family: 'LobsterTwo-B', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;

    top: 22.5px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    user-select: none;
    -webkit-user-drag: none;
    letter-spacing: 1.5px;
    transition-duration: .3s;
}

/* наведение на ссылки */
header a:hover {
    color: #F69E60;
}

/* ⬆ 2. ШАПКА ⬆




||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||




    ⬇ 9. ПОДВАЛ ⬇ */

#contract {
    min-height: 100%;
}

#contract embed {
    width: 100%;
    height: 1450px;
}



/* ⬆ 2. ШАПКА ⬆




||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||




    ⬇ 9. ПОДВАЛ ⬇ */

    footer .container {
        width: 768px;
    }
     
    /* общее */
    footer {
        width: 100%;
        padding: 50px 0;
    
        background-color: #222222;
    }
    
    /* 
        ⬇ 9.1 БЛОКИ ⬇
    
     */
    
    /* обертка колонн */
    .colomn-four-wrap {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    /* колонны */
    .colomn-four-item {
        width: 33.3%;
        margin: 0;
        margin-bottom: 25px;
        text-align: center;
        padding: 0 25px;
    }
    
    .content {
        width: 100%;
        height: 100%;
        margin-top: 0 auto;
    }
    
    .content h4 {
        font-size: 1em;
        color: whitesmoke;
        margin: 10px 0;
        line-height: 2;
        letter-spacing: 2px;
    }
    
    footer li {
        margin-bottom: 10px;
    }
    
    footer li a:not(:last-child) {
        margin-right: 5px;
    }
    
    footer a {
        color: #777777;
        
        /* font-family: 'SourceCodePro-Medium', 'Courier New', Courier, monospace; */
        font-size: .9em;
        
        letter-spacing: 1.5px;
        line-height: 1.5;
        transition-duration: .3s;
    }
    
    footer a:hover {
        color: #F69E60;
    }
    
     /* параметры иконки */
     footer .item-icon {
        width: 35px;
        height: 35px;
        background-color: #F69E60;
    
        text-align: center;
        border-radius: 50%;
    
        padding-top: 5px;
    }
    
     /* иконка */
     footer .item-icon:before {
        content: "";
        font-family: FontAwesome;
        color: whitesmoke;
        font-size: 15px;
    }
    
    /* 
    
        ⬆ 9.1 БЛОКИ ⬆
    
        ⬇ 9.2 МЕДИА - ИКОНКИ ⬇ с сайта https://fontawesome.com/v5.15/icons/ 
    
     */
    
     /* иконка instagram */
     footer .item-icon.instagram:before {
        content: "\f16d";
    }
    
     /* иконка whatsapp */
     footer .item-icon.whatsapp:before {
        content: "\f232";
    }
    
     /* иконка youtube */
     footer .item-icon.youtube:before {
        content: "\f167";
    }
    
     /* иконка vkontacte */
     footer .item-icon.vkontacte:before {
        content: "\f189";
    }
    
    /* 
    
        ⬆ 9.2 МЕДИА - ИКОНКИ ⬆
        
        ⬇ 9.3 ПОДПИСЬ ⬇
    
     */
    
    .footer-down hr {
        color: #777777;
        height: 1px;
        margin-bottom: 25px;
        border-right: none;
        border-left: none;
        border-bottom: none;
    }
    
    .footer-down {
        width: 100%;
    
        text-align: center;
        font-weight: 600;
    }
    
    .footer-down p span {
        color: #AAAAAA;
        line-height: 2.2;
    
        
        font-family: 'SourceCodePro-Medium', 'Courier New', Courier, monospace;
        font-size: .8em;
        
        letter-spacing: 1.5px;
        transition-duration: .3s;
    }
    
    .footer-down p a {
        font-size: .7em;
    }
    
    
    footer p br {
        display: none;
    }