# Торжественно клянуть, что затеваю только шалость

### Прячем секретную папку ###
js/secure

### Прячем секретную папку ###
css/fonts

### IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

# Шалость удалась